* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #ffffff;
    min-height: calc(100vh - 40px);
}

h1 span {
    font-size: 3rem;
    margin: 1rem 0;
    line-height: 2.5rem;
    display: block;
}

h1 span:first-child {
    color: #ffffff;
}

h1 span:last-child {
    color: #222222;
}

h2 {
    font-size: 2rem;
    color: #222222;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    color: #00c9b7;
    margin: 2rem 0 1rem;
}

h4 {
    color: #676767;
    font-size: 1.1rem;
    margin: 1rem 0 0;
}

p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.wrapper {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}


.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}


@media(max-width: 670px) {
    .flex {
        flex-direction: column;
    }
}

.header__nav {
    position: relative;
    background: #222222;
    padding: 10px 0;
}

.header__nav-logo {
    text-decoration: none;
}

.header__nav-logo span:first-child {
    color: #ffd300;
    font-size: 1.5rem;
}

.header__nav-logo span:last-child {
    color: #ffffff;
    margin: 0 10px;
}

.header__nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 10px;
}

.header__nav-link:last-child {
    padding-right: 0px;
}

.header__nav-link:hover {
    color: #ffd300;
}

@media(max-width: 670px) {
    .header__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.header__section {
    background: linear-gradient(to right top, #ffd300, #ffb200, #fd9000, #f76d00, #ed4409);
    padding: 60px 0;
}

.header__section-pic {
    border-radius: 50%;
    overflow: hidden;
    min-width: 250px;
    min-height: 250px;
    line-height: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.header__section-img {
    width: 250px;
    height: auto;
}

.header__section-name {
    margin: 0 15% 0 5%;
}

.header__section-sub-title {
    color: #ffffff;
    opacity: 0.6;
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}

.header__section-links {
    display: flex;
    flex-direction: column;
}

.header__section-links a {
    display: block;
    width: 45px;
    height: 45px;
}

.header__section-links a:hover {
    opacity: 0.8;
}

.header__section-links a::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background: url(../img/logo-set.png) no-repeat;
    background-size: 100%;
    margin: 5px;
}

.header__section-links_linkedin::before {
    background-position: 0 0 !important;
}

.header__section-links_behance::before {
    background-position: 0 -35px !important;
}

.header__section-links_netlify::before {
    background-position: 0 -70px !important;
}

.header__section-links_instagram::before {
    background-position: 0 -105px !important;
}

@media(max-width: 670px) {
    .header__section-name {
        margin: 0;
    }

    .header__section-links {
        flex-direction: row;
    }
}

.main__badge {
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 5px 10px;
    display: inline-block;
    margin: 0.25rem;
    font-family: 'Courier New', Courier, monospace;
}

.main__badge_theme_red {
    background: #f44336;
}

.main__badge_theme_orange {
    background: #ff9800;
}

.main__badge_theme_green {
    background: #4caf50;
}

.main__badge_theme_blue {
    background: #2196f3;
}

.main__badge_theme_emerald {
    background: #009688;
}

.main__badge_theme_violet {
    background: #3f51b5;
}

.main__badge_theme_turquoise {
    background: #00c9b7;
}

.main__badge_theme_stone {
    background: #607D8B;
}

.main__badge_theme_pink {
    background: #E91E63;
}

.main__badge_theme_dviolet {
    background: #302683;
}

.main__badge_theme_grey {
    background: #323131;
}

.main__badge_theme_lgrey {
    background: #bbc3c7;
}

.main__card {
    display: block;
    margin: 0.25rem;
    border-radius: 5px;
}

.main__card_size_s {
    width: 200px;
    height: 200px;
}

.main__card_size_m {
    width: calc(25% - 30px);
    min-height: 140px;
    padding: 5px 15px;
    border: 1px solid #dedede;
    cursor: pointer;
    background: aliceblue;
}

.main__card:hover {
    opacity: 0.8;
}

.main__card_cover::before {
    content: attr(data-name);
    position: absolute;
    display: block;
    padding: 15px;
    color: #ffffff;
}

.main__card_cover::after {
    content: '';
    display: block;
    width: 100%;
    height: 200px;
}

.main__card_theme_github::after {
    background: url(../img/github.png) no-repeat center center;
}

.main__card_theme_codewars::after {
    background: url(../img/codewars.png) no-repeat center center;
}

.main__card_theme_htmlAcademy::after {
    background: url(../img/htmlacademy.png) no-repeat center center;
}

.main__card_theme_codecademy::after {
    background: url(../img/codecademy.png) no-repeat center center;
}

@media(max-width: 670px) {
    .main__card {
        width: 100%;
    }
}

.main__contacts-item {
    width: 50%;
}

@media(max-width: 670px) {
    .main__contacts-item {
        width: 100%;
    }
}

.main__section {
    padding: 30px 0;
}

.main__section_theme_grey {
    background: #f9f9f9;
}

.footer {
    background: #6fa4c6;
    display: flex;
    align-items: center;
    bottom: -40px;
    width: 100%;
    height: 40px;
    padding: 10px 0;
    position: absolute;
}

.footer__copyright {
    color: #ffffff;
    font-size: 0.8rem;
}