* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #ffffff;
    min-height: calc(100vh - 40px);
}

h1 span {
    font-size: 3rem;
    margin: 1rem 0;
    line-height: 2.5rem;
    display: block;
}

h1 span:first-child {
    color: #ffffff;
}

h1 span:last-child {
    color: #222222;
}

h2 {
    font-size: 2rem;
    color: #222222;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    color: #00c9b7;
    margin: 2rem 0 1rem;
}

h4 {
    color: #676767;
    font-size: 1.1rem;
    margin: 1rem 0 0;
}

p {
    line-height: 1.5rem;
    margin: 1rem 0;
}

.wrapper {
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}


.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}


@media(max-width: 670px) {
    .flex {
        flex-direction: column;
    }
}